/* css for top section .. intro */ 


section#whatintro {
   
   background:#3B353F;
   color:#fff;
   height: 100%;
   min-height: 100%;
   position: relative;
}

section#whatintro:after{
   content:"";
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 0;
   background: url("https://static01.nyt.com/subscriptions/Multiproduct/assets_pa2017/images/what_intro/what_header_bg_lando.jpg") no-repeat;
   background-position: center bottom -30px;
   background-size: cover; 
   width: 100%;
   height: 100%;
   min-height: 100%;
}

body.mobile section#whatintro:after {

   background:none;

}

body.mobile section#whatintro.loaded:after {

   background:none;

}

section#whatintro.loaded:after{
   content:"";
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 0;
   background: url("https://static01.nyt.com/subscriptions/Multiproduct/assets_pa2017/images/what_intro/PA_what_header_bg.jpg") no-repeat;
   background-position: center bottom -30px;
   background-size: cover; 
   width: 100%;
   height: 100%;
   min-height: 100%;
}

img#what_intro_bg {
  display:none;
}

section#whatintro .container{
   max-width: 1400px;
   margin: 0 auto;
   height: 100%;
}

section#whatintro .intro-phone{
    margin: 7% auto 40px;
    width: 50%;
    height: 55%;
    max-width: 370px;
    background: url("https://static01.nyt.com/subscriptions/Multiproduct/assets_pa2017/images/what_intro/PA_what_header_phone.png") no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 2;
}

section#whatintro .content {
   padding-top:200px;
   position: absolute;
   bottom: 66px;
   left: 0;
   right: 0;
   margin: 0 auto;
   height: auto; 
   padding: 20px;
   box-sizing: border-box;
   box-sizing: padding-box;
   z-index: 2;
   width: 100%;
}


section#whatintro h2{
	width: 100%;
    font-family: "nyt-cheltenham";
	font-size: 44px;
	font-weight: 200;
	line-height: 1.14;
	text-align: center;
    margin: 0 auto 16px;
    color:#fff;
}

section#whatintro p{
	max-width: 640px;
    width: 100%;
	font-family: "nyt-franklin", Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.17;
	text-align: center;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
    margin: 0 auto;
    color:#fff;
}

.down_arrow {
	width: 40px;
	height: 40px;
	object-fit: contain;
    background: url("https://static01.nyt.com/subscriptions/Multiproduct/assets_pa2017/images/down-arrow.svg") no-repeat;
    background-position: center;
    background-size: 40px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 27px;
    margin: 0 auto;
    z-index: 2;
    opacity: .8;
}

@media(max-width: 1300px){
    section#whatintro {
       
    } 
    
    section#whatintro:after {
        background-size: 1700px;
    }
    
}

@media(max-width: 1300px) and (min-height: 900px) and (min-width: 768px){
    section#whatintro:after {
        background-size: 1700px;
    }
}

@media(min-width: 1200px){
    
    section#whatintro .intro-phone{
        margin: 4% auto 0;
        height: 50%;
        width: 50%;
    }
    
}


@media(max-width: 1024px){
    
}




@media(max-width: 767px){
    
    section#whatintro {
    }
    
    section#whatintro .intro-phone{
        width: 320px;
        height: 320px;
        margin: 7% auto 20px;
    }
    
    section#whatintro:after{
        display: none;
    }
    
    section#whatintro h2{
        font-size: 30px;
        line-height: 1.13;
      }

      section#whatintro p{
        font-size: 18px;
        line-height: 1.22;
      }

      .down_arrow{
        bottom: 20px
      }

      section#whatintro .intro-phone{
          width: 100%;
          height: 40%;
      }

      section#whatintro .content{
          position: relative;
          bottom: 0;
          padding: 20px 0;
      }
    
}

/* Min height for 980px  */

@media(max-height: 960px) and (max-width: 1800px){
    
    section#whatintro:after {
       background-position: center top -150px;
        background-size: 1800px;
    }
    
}

/* Min height for 767px  */

@media(max-height: 767px){
    
    section#whatintro .intro-phone{
        height: 53%;
    
    }
    
}

@media(max-height: 767px) and (max-width: 840px){
    
 
}
    
/* on desktop with a short height smaller than 500px */    
@media(min-width: 768px) and (max-height: 700px){
    
    
    section#whatintro{
       min-height: 700px;
    }
    
    section#whatintro .intro-phone {
        height: 50%;
        margin: 6% auto 0;
    }
    
    section#whatintro .content{
        bottom: 50px;
    }
    
}

@media(max-width:767px) and (orientation: landscape){
  section#whatintro{
    min-height: auto;
    height: auto;
  }

  section#whatintro .intro-phone{
      padding-bottom: 40%;
  }

  .down_arrow{
      position: relative;
      bottom: 0;
  }

}

@media(max-width:425px){

  section#whatintro h2{
    font-size: 7.4vw;
  }

}

@media(max-width:500px) and (max-height: 680px){
    
    section#whatintro{
        min-height: 580px;
    }
    
    section#whatintro .intro-phone{
        height: 43%;
    }
    
}
    
    
