/* css for top section .. intro */ 


section#behindthescenes {
   background: url("https://static01.nyt.com/subscriptions/Multiproduct/assets_pa2017/images/what-bg-behindthescenes.jpg") no-repeat;
   background-position: center;
   background-size: cover; 
   color:#fff;
   height: 100%;
   min-height: 100%;
   padding: 40px 0 0;
}

section#behindthescenes .content {
   padding-top:200px;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin: 0 auto;
   height: auto; 
   padding: 20px 0 0;
   box-sizing: border-box;
   box-sizing: padding-box;
   width: 100%;
    max-width: 100%;
}

section#behindthescenes .content h2 {
    font-weight:200;
}

section#behindthescenes .content p {
    margin: 0 auto 25px;
    max-width: 610px;
}

section#behindthescenes .content p.photocredit{
    font-family: "nyt-franklin", helvetica,arial,sans-serif;
    max-width: 631px;
    width:100%;
	opacity: 0.7;
	font-size: 12px;
	font-weight:500;
	line-height: 1.33;
	text-align: center;
}

section#behindthescenes .learnmore{
    margin: 0 auto 36px;
}

section#behindthescenes .details{
    width: 100%;
    height: auto;
    background-color: #000000;
    margin: -57px auto 0;
    padding: 60px 30px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    clear: both;
    display: none;
}

section#behindthescenes .details .container{
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: table;
}

section#behindthescenes .details article{
    width: 32%;
    margin: 0 auto;
    display: inline-block;
    padding: 15px 20px 0;
    vertical-align: text-top;
    position: relative;
}

section#behindthescenes .details .paper4  article{
    width: 23%;
    margin: 0 auto;
    display: inline-block;
    padding: 15px 20px 0;
    vertical-align: text-top;
    position: relative;
}

section#behindthescenes .details article:before{
    position: absolute;
    content: "";
    width: 103px;
    height: 2px;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}



section#behindthescenes .details article p{
    max-width: 320px;
    margin: 0 auto;
    font-family: "nyt-franklin", helvetica,arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.1px;
    text-align: center;
}

@media(max-width: 767px){
    
    section#behindthescenes{
        background-position: center right 25%;
        overflow: hidden;
        height: auto;
    }
    
    section#behindthescenes .content{
        margin: 80% auto 0;
        position: relative;
    }
    
    section#behindthescenes .content p{
        padding: 0 30px;
    }
    
    section#behindthescenes .details article{
        width: 100%;
        display: block;
        clear: both;
        margin: 0 auto 30px;
        padding: 15px 0 0;
    }
    
    section#behindthescenes .content p.photocredit{
        padding: 0 20px;
    }
    
}


@media(max-width: 767px) and (orientation: landscape){
    section#behindthescenes{
        height: auto;
        padding: 50% 0 0
    }

}
