/* css for top section .. intro */ 


section#subscribeperks{
   color:#252527;
   height: auto;
}

section#subscribeperks .content {
   padding-top:46px;
   bottom: 66px;
   left: 0;
   right: 0;
   margin: 0 auto;
   height: auto; 
   padding: 20px 20px 40px;
   box-sizing: border-box;
   box-sizing: padding-box;
   max-width: 1400px;
   width: 100%;
}


section#subscribeperks h2{
	width: 100%;
    font-family: "nyt-cheltenham";
	font-size: 44px;
	font-weight: 200;
	line-height: 1.14;
	text-align: center;
    margin: 0 auto 35px;
}

.perks{
    width: 100%;
    height: auto;
    text-align: center;
}

section#subscribeperks figure{
    width: 30%;
    max-width: 330px;
    margin: 0 3% 0 0;
    display: inline-block;
    vertical-align: bottom;
}

section#subscribeperks figure:last-of-type{
    margin: 0;
}

section#subscribeperks figure img{
    width: 100%;
    vertical-align: bottom;
}

section#subscribeperks figure#todayspaper img{
    max-width: 187px;
    margin: 14px 0 0;
}

section#subscribeperks figure#exclusivediscounts img{
    max-width: 232px;
}

section#subscribeperks figure#timemachine img{
    max-width: 371px;
    margin: 14px 0 0;
}


section#subscribeperks figure figcaption{
    width: 100%;
    padding: 25px 0 0;
}

section#subscribeperks figure figcaption h3{
    font-family: "nyt-franklin", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

section#subscribeperks figure figcaption p{
    font-family: "nyt-franklin", Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

@media(max-width: 767px){
    
    section#subscribeperks h2{
        font-size: 30px;
    }
    
    section#subscribeperks figure{
        vertical-align: bottom;
    }
    
    section#subscribeperks figure#todayspaper img{
        max-width: 100px;
        margin-top: 0;
    }
    
    section#subscribeperks figure#exclusivediscounts img{
        max-width: 132px;
    }
    
}


@media(max-width: 600px) and (orientation: portrait){
    
    section#subscribeperks {

    }
    
    section#subscribeperks figure, section#subscribeperks figure:last-of-type{
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        display: block;
        padding: 0 0 30px;
    }
    
    
    
}
