/* NYT Cooking: Custom css for mobile . */ 

/* ########### Responsive design ########################## */
@media(max-width:960px){   
    /*.expert-cooks, .recipe-guide-video, .recipe-box{
        float: none;
        max-width: 100%;
        margin: 20px auto;
    }     
    .recipe-img {
        margin-bottom: 20px;        
        height: auto;
    }
    .recipe-img img{  
        height:258px;
    }
    .cooking-guide-video{
        max-width:100%;
        height: auto;
        margin: 0 auto;
    }
    footer.footer .col h3 button.footer_toggle {        
        outline: none;
    }
    .modal-content {
        top: 32%;
        max-width: 90%;
        left: 5%;
    }
    .recipe-box-content h3 {
        max-width: 100%;
        width: 100%;
    }*/

    .recipe{
        padding: 20px 0 0;
    }

    .recipe-img {
        margin-bottom: 0;        
        height: auto;
        min-height: 0;
    }

    img#cookingGuide {
        min-height: 0;
        width: 210px;
    }

    .expert-cooks img.recipe-img, .recipe-guide-video #videoContainer{
        height: 118px;
        margin: 69px 0 24px;
    }

    .disclaimer{
        max-width: 440px;
    }

}
/* End of 960px view port */

@media(max-width: 767px){

    .expert-cooks, .recipe-guide-video, .recipe-box{
        float: none;
        max-width: 100%;
        width:100%;
        margin: 20px auto;
        max-width: 465px;
    }     
    .recipe-img {
        margin-bottom: 20px;        
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .recipe-img img{  
        height:auto;
        max-width: 100%;
    }
    .cooking-guide-video{
        max-width:100%;
        height: auto;
        margin: 0 auto;
    }
    footer.footer .col h3 button.footer_toggle {        
        outline: none;
    }
    .modal-content {
        top: 32%;
        max-width: 90%;
        left: 5%;
    }
    .recipe-box-content h3 {
        max-width: 100%;
        width: 100%;
    }

    .expert-cooks img.recipe-img, .recipe-guide-video #videoContainer{
        height: auto;
        margin: 0 0 20px;
    }

    img#cookingGuide {
        width: 100%;
    }
    
    section#intro .content {       
        top: 80px;
    }
    .subscribe-nyt-cooking a.button {
        padding: 7px 40px;
    }
    a.button.last{
        padding: 7px 45.43px;    
    }
    .mobile-top-navbar{
        display:block;
        padding: 20px;
        box-sizing: border-box;
        height: auto;
    }
    .subscribe-now-mobile{
        display: block;
    }
    .subscribe-now {
        display: none;
    }
    .offer-price {
        font-size: 18px;
        max-width: 285px;
    }
    .expert-cooks-content h3,.recipe-guide-video h3,.recipe-box h3{
        font-size:30px;      
    }
    .recipe-box-content h3 {
        max-width: 100%;
        width: 100%;
    }
    .expert-cooks img, .recipe-guide-video img{
        height: auto;
    }
    .expert-cooks, .recipe-guide-video, .recipe-box{
        float: none;
        /* max-width: 100%; */
        margin: 20px auto;
    }
    .expert-cooks-content p,.recipe-guide-video p,.recipe-box p {       
        color: #252527;
    }    
    .subscribe-cooking-bundle, .bundle-content {
        max-width:390px;
        margin: 0 auto;
        width: 100%;
    }    
    .subscribe-nyt-cooking div.bundle {
        max-width: 100%;        
        margin: 0 auto;
        padding: 20px 0;
        float: none;
    }    
    .subscribe-nyt-cooking p.button {      
        max-width: 300px;       
    }
    .bundle-content {        
        margin: 50px auto;
        padding: 0 20px;
        max-width: 348px;
        width: 100%;
    }
    .bundle-content p {
        font-family: "nyt-franklin","Helvetica Neue",Arial,sans-serif;
        color: #E33D26;
        line-height: 1.2em;
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0;
    }
    .cooking-header-title {
        font-size: 28px;        
    }
    
    /* Apple pay */
    .bundle .applePayBtn{
        max-width: 210px;
        width: 100%;
        margin-bottom: 10px;
    }
    .bundle .apple_pay_holder p{
        max-width:  210px;
        width: 100%;
    }
    .modal-content {
        top: 16%;
    }

    .faq-section{
        padding: 30px 20px;
    }

    .faq-section .answer{
        padding: 0 20px;
    }

    .disclaimer{
        max-width: 250px;
    }

}
/* End of 768px view port */

@media (max-width:414px){
    .container{
       max-width: 100%;
        padding: 20px;
        margin: 0;        
    }
    .together{
        display: inline-block;
    }
    .recipe {
        padding: 50px 0 0 0;    
    }
    .recipe-img {       
        max-width: 100%;        
    }
    .subscribe-cooking-header {
        margin: 50px auto 10px auto;    
        max-width: 190px;
    }
    section#intro {
        background: url(../images/NYT_Cooking_mobile_bg.jpg) no-repeat;       
        background-size: cover;
        color: #fff;
        height: 100%;
        min-height: 500px;
    }
    section#intro .content {
        top: 85px;
    }
    .expert-cooks, .recipe-guide-video, .recipe-box{
        max-width: 380px;
        padding: 0;
    }
    .expert-cooks-content h3, .recipe-guide-video h3, .recipe-box h3 {
        font-size: 24px;
    }
    .recipe-box-content h3{
        max-width: 255px;
        margin: 20px auto;
    }
    .see-more{
        /*height: 73px;
        padding: 24px 0;*/
    }
    .see-more a{
        font-size: 19px;
    }
    .subscribe-nyt-cooking a.button {
        padding: 7px 70px;
    }
    .subscribe-nyt-cooking a.button.last {
        padding: 7px 75.44px;
    }
    .subscribe-nyt-cooking div.bundle{
       width: 100%;
    }    
    .bundle-content p {
        font-size: 16px;
    }
    .bundle-content p:last-child {
        max-width: 285px;
    }    
    .cooking-header-title {
        font-size: 24px;
    }
    .expert-cooks-content p, .recipe-guide-video p, .recipe-box p {
        max-width: 309px;
        margin: 0 auto;
    }
    .expert-cooks img, .recipe-guide-video img{
        /*padding: 15px 0; */      
    }    
    .modal-content {                  
        width: 100%;
        top: 30%;
        max-width: 96%;
        left: 2%;
    }
    .recipe-img {
        margin-bottom: 0px; 
        height: auto;        
    }
    .recipe-guide-video #videoContainer, .recipe-box .recipe-img{
        margin-top: 40px;
    }
    
    .faq-section .answer{
        padding: 0 0 0 20px;
    }

}
/* End of 414px view port */

@media (max-width:320px){
    .expert-cooks-content h3{
        font-size: 21px;
    }
    .modal-content {               
        width: 100%;
    }
    .cooking-guide-video {
        margin: 1% auto;
    }
}
/* End of 320px view port */