
/* offer */

.offer{
    padding: 76px 30px 62px;
    clear: both;
    
}

body.feb_sale .offer{
    padding: 10px 30px 62px;
}

.offer .container{
    max-width: 985px;
    vertical-align: bottom;
    position: relative;
}

.offer .offer_copy{
    max-width: 978px;
    width: 70%;
    height: auto;
    text-align: left;
    float: left;
    margin: 10px 0 0;
}

.offer h2{
	font-family: "nyt-karnak-display-130124", serif; 
	font-size: 40px;
	color: #000000;
    line-height: 40px;
    margin: 0 auto 17px;
    font-weight: 500;
}

.offer h3{
	font-family: "nyt-franklin", 'helvetica neue', arial,sans-serif;
	font-size: 20px;
	color: #000000;
    line-height: 28px;
    font-weight: 700;
}

.offer p{
    font-weight: 500;
    font-size: 20px;
    color: #000;
    width: 100%;
    color:#000000;
    line-height: 28px;
    font-family: "nyt-franklin", 'helvetica neue', arial,sans-serif;
}

.offer .right_copy p strong{
    font-weight: 700;
}

.payment_length{
    width: 232px;
    height: auto;
    float: right;
    vertical-align: bottom;
    max-width: 232px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.payment_length p{
    width: 100%;
	font-family: "nyt-franklin", 'helvetica neue', arial,sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	color: #000000;
    text-align:  left;
    margin: 0 0 10px;
}

.payment_length a.pay_btn{
	width: 107px;
	height: 31px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	background-color: #ffffff;
	border: 1px solid #9b9b9b;
    display: inline-block;
    text-decoration: none;
    font-family: "nyt-franklin", 'helvetica neue', arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29;
	text-align: center;
	color: #4a4a4a;
    position: relative;
    margin: 0 0 0 1%;
    overflow: hidden;
}

.payment_length a.pay_btn p{
    font-family: "nyt-franklin", 'helvetica neue', arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
    vertical-align: middle;
    line-height: 31px;
    position: relative;
    z-index: 10;
}

.payment_length a.pay_btn:hover, .payment_length a.pay_btn.active{
    border-color:#f0990c;
}

.payment_length a.pay_btn.active{
    background:#f0990c;
}

.payment_length a.pay_btn.active p{
    color: #fff;
}

.payment_length a.pay_btn .active_bg{
    width: 0;
    height: 100%;
    position: absolute;
    background: #f0990c;
    z-index: 1;
    top: 0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.payment_length a.pay_btn.length1 .active_bg{
    right: 0;
}

.payment_length a.pay_btn.length2 .active_bg{
    left: 0;
}

span.price1{
    display: inline;
}

a.cta.price1{
    display: inline-block;
}

span.price2, a.cta.price2{
    display: none;
}

.price_info{
    padding: 0;
}

.billed_price{
    padding: 0 0 11px;
    font-size: 14px;
	font-weight: 700;
	line-height: 1.71;
	color: #ffffff;
}

.billed_price .orange{
    color: #ef990d;
}

@media(max-width:1120px){

    .offer .offer_copy{
        width: 50%;
    }
    
    .offer .offer_copy h2{
        max-width: 360px;
        margin: 0;
    }
    
    .billed_price{
        font-size: 1.4vw;
    }
    
}

@media(max-width:767px){
    
    
    body.feb_sale .offer{
        padding: 10px 30px;
    }

    .offer .offer_copy{
        max-width: 360px;
        width: 100%;
        margin: 0 auto 40px;
        float: none;
    }
    
    .offer .offer_copy h3, .offer .offer_copy h2{
        text-align: center;
    }
    
    .offer .offer_copy p{
        text-align: center;
    }
    
    .payment_length{
        margin: 0 auto;
        float: none;
        position: relative;
        bottom: 0;
        right: auto;
    }
    
    .payment_length p{
        text-align: center;
    }
    
    .billed_price{
        font-size: 13px;
    }
    
}


